#carte{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carte div>*:hover {
    background-color: rgba(255, 255, 6, 0.575);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 4, 0.205);
}

.haut {
    display: flex;
}

.milieu{
    display: flex;
    align-items: center;
}

.bas{
    display: flex;
    margin-left: 70px ;
}

#nordeste {
    margin-left: -40px;
    margin-top: 40px;
}

#centrooeste{
    margin-top: -150px;
    margin-left: 70px;
}

#sudeste{
    margin-left: -90px;
    margin-top: -20px;
}

#sul{
    margin-top: -50px;
}