fieldset{
    background-color: #4eaf2879;
}

form{
    color: #2662F5;
    font-weight: bolder;
}

.infoperso{
    display: block;
	width: 150px;
	float: left;
}

legend{
    font-size: larger;
}
h1{
    color:#2662F5;
}
body{
    background-color: #f4e458;
}