ul li{
    list-style-type: none;
}

#burgerOn{
    display:none;
    position: absolute;
    justify-content: left;
    flex-direction: column;
}

#burgerOn:target{
    display: flex;            
}

#burgerOff:target{
    display: none;
}

#burgerOff{
    display: block;    
}

nav{
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;   
}






