/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* css */

body{
	background-color: rgba(151, 252, 0, 0.274);
}

/* header */

header{
	background-color: black ;
}

#logo{
	margin: 5px;
	height: 200px;
	width: auto;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;       
}

/* nav */

ul li{
    list-style-type: none;
}
/* burger */
nav{
    display: flex;
}

#burgerOn{
    display:none;
    position: absolute;
    justify-content: right;
    flex-direction: column;
}

#burgerOn:target{
    display: flex;            
}

#burgerOff:target{
    display: none;
}

#burgerOff{
    display: block;    
}

nav ul li{
    font-size: 125%;    
}

a:link, a:visited{
    color: #f5b926;
    text-decoration: none; 
	font-weight: bolder; 
	padding: 10px; 
}

a:hover{
	color: #368851;
}

/* carroussel */

#carroussel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide{
    display: flex;
    overflow-x: scroll;
    overflow: hidden;  
    scroll-behavior: smooth; 
    padding: 20px;
}

.imageslide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    width: 100%; 
    flex-shrink: 0; 
}

.navimage{
    padding: 5px;
    display: inline-flex;
    align-items: center;
    background-color: #f5b926;
    height: 2px;
    width: 2px;
    border-radius: 50%; 
}
/* main */
main{
    margin: 0% 10%;
}

h1{
    color: blue;
    text-align: center;
    font-size: 250%;
    font-weight: bolder;
    margin: 0 0 10px 0;    
}

p{
    text-align: justify;
    font-size: 125%;              
}

h2{
    color: blue;
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
    margin: 0 0 10px 0;
}

.small{
    width: 10%;
    height: 10%;    
}

.articlesmall{
    display: block;
}

/* carte et page bresil  */

#carte{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carte div>*:hover {
    background-color: rgba(255, 255, 6, 0.575);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 4, 0.205);
}

.haut {
    display: flex;
}

.milieu{
    display: flex;
    align-items: center;
}

.bas{
    display: flex;
    margin-left: 70px ;
}

#nordest {
    margin-left: -40px;
    margin-top: 40px;
}

#centrouest{
    margin-top: -150px;
    margin-left: 70px;
}

#sudest{
    margin-left: -90px;
    margin-top: -20px;
}

#sud{
    margin-top: -50px;
}

.articlebresil{
    text-align: center;
}

.articlebresil>*{
    padding: 20px;;    
}

.imgbresil{
    height: 200px;
    width: auto;
}