/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* css */

body{
	background-color: #f4e458;
}

/* header */

#logo{
	width: 100%;
    padding: 20px
}

header{
    display: flex;    
    background-color: black;    
}

/* nav */

ul li{
    display: inline-flex;
    list-style-type: none;             
}

nav{   
    margin: 0 0 10px 50px; 
    display: flex;
    align-items: flex-end;
              
}

nav img{
    display: none;
}

#burgerOn{
    display:flex;            
}

#burgerOff{
    display: none;    
}

nav ul li{
    font-size: 125%;
    padding: 10px;    
       
}


a:link, a:visited{
    color: #f5b926;
    text-decoration: none; 
	font-weight: bolder; 
}

.here{
    color: #368851;
    text-decoration: none; 
	font-weight: bolder; 
}

a:hover{
	color: #368851;
}

/* carroussel */

#carroussel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide{
    display: flex;
    overflow-x: scroll;
    overflow: hidden;  
    scroll-behavior: smooth; 
    padding: 20px;
}

.imageslide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    width: 100%; 
    flex-shrink: 0; 
}

.navimage{
    padding: 5px;
    display: inline-flex;
    align-items: center;
    background-color: #358122;
    height: 4px;
    width: 4px;
    border-radius: 50%; 
}

/* main */

main{
    margin: 0 10px;
}

h1{
    color: #0000ff;
    text-align: center;
    font-size: 250%;
    font-weight: bolder;
    margin: 0 0 10px 0;    
}

p{
    text-align: justify;
    font-size: 125%;              
}

h2{
    color: blue;
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
    margin: 40px 0 0 0;
}

.small{
    width: 10%;
    height: 10%;    
}

.articlesmall{
    display: block;
}


a[href="#pgUp"]{
    color: #368851;    
}

a[href="#pgUp"]:hover{
    color: #0000ff;
}

/* carte et page bresil  */

#carte{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#carte div>*:hover {
    background-color: rgba(10, 6, 255, 0.397);
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 4, 0.205);
}

.haut {
    display: flex;
}

.milieu{
    display: flex;
    align-items: center;
}

.bas{
    display: flex;
    margin-left: 70px ;
}

#nordest {
    margin-left: -40px;
    margin-top: 40px;
}

#centrouest{
    margin-top: -150px;
    margin-left: 70px;
}

#sudest{
    margin-left: -90px;
    margin-top: -20px;
}

#sud{
    margin-top: -50px;
}

.articlebresil{
    text-align: center;
}

.articlebresil>*{
    padding: 20px;;    
}

.imgbresil{
    height: 200px;
    width: auto;
}

/* Page Folklore */

#galerie{
    text-align: center;
    margin: 50px;   
}

.imggalerie{
    height: 150px;
    padding: 10px;
}

.videos h2{
    text-align: center;
}

.videos{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
}

iframe{
    height: 531;
    width: 944;
}

/* formulaire et page contact */

fieldset{
    background-color: #4eaf2879;
}

form{
    border: 2px;
    color: blue;
    font-weight: bolder;
}

.infoperso{
    display: block;
	width: 150px;
	float: left;
}

legend{
    font-size: larger;
}

#pgContact{
    display: flex;
    justify-content: space-around;
}

/* footer */

footer{
    background-color: lightgrey;
    opacity: 0.4;
    display: flex;
    margin: 50px 0 0 0;
    padding: 10px 40px 100px 40px;
    justify-content: space-between;        
}

footer p, footer ul{
    display: flex;    
    color: black;        
} 

footer li{
    margin: 0 4px;
}

footer li img:hover{    
    height: 40px;
    width: 40px;
} 

@media screen and (max-width: 900px) {

    header{
        padding-bottom: 40px;
        justify-content: space-between;
    }
    

    
    /* burger */
    nav{
        background-color: black;
        display: flex;
        margin: 4px 10px 0 0;
        align-items: inherit;            
    }

    #burgerOn{
        display:none;
        position: absolute;
        justify-content: right;
        flex-direction: column;
    }

    nav img{
        display: flex;
    }

    #burgerOn:target{
        display: flex;                    
    }

    #burgerOff:target{
        display: none;
    }

    #burgerOff{
        display: block;    
    }

    nav ul li{
        font-size: 125%;
        padding: 4px 0;    
    }

    /* carte --------------------------------------------------*/

    #carte{
        margin-left: 10px;
    }

    /* footer */

    footer{
        display: block;        
    }

    footer p, footer ul{
        margin: 10px;
        justify-content: center;        
    }

    /* page folklore */

    
    .imggalerie{
        height: 80px;
    }

    /* videos folklore */

    iframe{
        width: 100%;
    }

    /* Page contact */

    #pgContact{
        flex-direction: column;
    }

    #bresildrapeau{
        padding: 20px;
        text-align: center;
    }
}